bot.py
bot2.py
chattbot.py
chatterbot-corpus-1.2.0.tar.gz
codigo bot u.png
cruises_ES.yml
database.db
jarvis.py
jarvis2.py
mapa conceptual y cronograma.jpg
respuesta.py
setence_tokenizer.pickle
unicauca_ES.yml
univ_ES.yml
univ_ES.yml.txt
universidad_ES.yml
univp_ESx.yml
chatterbot-corpus-1.2.0
sentence_tokenizer.pickle
sentence_tokenizer.pickle
d